//color
$white: rgb(255, 255, 255);
$gray: rgb(155, 155, 155);
$light-gray: rgb(99, 99, 99);
$smoke-gray: rgba(222, 222, 222, 0.872);
$dark-gray: rgb(50, 50, 50);
$gold: rgba(242, 194, 2, 0.94);
$dark-blue: rgba(4, 18, 171, 0.947);
$gray-desc: rgba(32, 32, 32, 0.81);

//font-size
$super-extra: 26px;
$extra: 24px;
$large: 20px;
$regular: 18px;
$meduim: 16px;
$small: 14px;
$smallest: 12px;
